################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/question4/.vs/question4/v16/Browse.VC.db-shm
/question4/.vs/question4/v16/Browse.VC.db-wal
